%html
  %head
    %title
      Get Going Sinatra ___/\_/\___

    %meta{:charset => "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}

    %meta{:name => "description", :content => "width=device-width, initial-scale=1"}

    %meta{:name => "viewport", :content => ""}

    %link{:rel => "stylesheet", :href => "css/app.css"}

    %link{:rel => "shortcut icon", :href => "favicon.ico"}

    %script{:src => "js/vendor/modernizr.js"}
  %body
    #header-global

    #main
      = yield

    #footer-global

    %script{:src => "js/app.js"}
